@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    position: relative;
    background-image: url("allimg/IN-en-20240701-POP_SIGNUP_TWO_WEEKS-perspective_WEB_b00eeb83-a7e8-4b5b-8ff7-86ed92c51caf_large.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 644px;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

.main img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.main>nav {
    max-width: 60vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.main .name {
    height: 80vh;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    gap: 25px;
}

nav select {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    position: relative;
    color: white;
    background-color: rgba(23, 23, 23, 0.8);
    font-family: 'Poppins';
    font-size: 14px;
    width: 147px;
    margin-left: 12px;
    height: 41px;
    z-index: 10;
    font-family: 'Poppins';
}

.newS {
    font-family: 'Poppins';
    font-size: 14px;
    width: 81px;
    margin-left: 12px;
    height: 40px;
}

.new-button {
    position: relative;
    z-index: 10;
}

.name> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
}

.name> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.name> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
}

.name input {
    color: white;
    padding: 0px 21px;
    color: black;
    height: 50px;
    width: 350px;
    font-size: 12px;
    border: 0.1px solid whitesmoke;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.8);
    font-weight: bold;
}

.new-button>button {
    position: relative;
    bottom: -4px;
    height: 50px;
    width: 200px;
    font-size: 25px;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn-red {
    color: white;
    font-weight: 700;
    border: 2px solid rgb(218, 5, 5);
    border-radius: 5px;
    background-color: rgb(218, 5, 5);
}

@media only screen and (max-width:800px) {
    .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .name> :nth-child(1) {
        font-weight: 900;
        font-size: 34px;
    }
    .name> :nth-child(2) {
        font-weight: 400;
        font-size: 20px;
    }
    .name> :nth-child(3) {
        font-weight: 400;
        font-size: 15px;
    }
    .name .new-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .name input {
        margin-left: 14px;
        padding: 0px 21px;
        color: black;
        height: 45px;
        width: 210px;
        font-size: 13px;
        border: 0.1px solid whitesmoke;
        border-radius: 5px;
        background-color: rgba(23, 23, 23, 0.8);
        font-weight: bold;
    }
    .new-button>button {
        position: relative;
        bottom: -4px;
        height: 45px;
        width: 127px;
        font-size: 18px;
    }
}

.firstsection {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 79vw;
}

.firstsection :nth-child(2) {
    position: relative;
}

.firstsection img {
    top: 65px;
    width: 38vw;
    position: relative;
    z-index: 10;
}

.firstsection video {
    left: 67px;
    bottom: 250px;
    position: absolute;
    width: 381px;
}

.headforfirstsection {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
}

.firstsection .heading1 {
    font-size: 48px;
    font-weight: 900;
}

.firstsection .heading2 {
    font-size: 24px;
    font-weight: 400;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    max-width: 79vw;
}

.second img {
    top: 0px;
    z-index: 0;
}

.second .imagebox {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 105px;
    left: 120px;
    position: relative;
    border: 2px solid rgb(46, 44, 44);
    border-radius: 12px;
    height: 76px;
    width: 266px;
}

.imagebox div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
}

.second .imagebox img {
    padding: 7px;
    height: 52px;
    width: 50px;
}

.lastheading {
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 900;
}

.faqhead {
    color: white;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 400;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.faqhead .faq {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px solid rgb(113 110 110 / 40%);
    background-color: rgb(113 110 110 / 40%);
    height: 10vh;
    width: 80vw;
}

.plus {
    font-size: 62px;
    font-weight: 100;
}